<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC54S9jNPelljGJQXKNR3mAW80CVt6BgTw</string>
	<key>GCM_SENDER_ID</key>
	<string>350941602304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.voiceAssistant</string>
	<key>PROJECT_ID</key>
	<string>flutter-virtual-assistant</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-virtual-assistant.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350941602304:ios:2b1260a3e1f10482ce2ee5</string>
</dict>
</plist>